.about-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
}
.about-container h3 {
  font-size: 20px;
}
.about-img-ct {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100vw);
  opacity: 0;
  box-shadow: none;
}
.about-img-ct img {
  width: 100%;
}
.about-text-ct {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 18px;
  padding: 10px;
  gap: 10px;
  transform: translateX(100vw);
  opacity: 0;
  box-shadow: none;
  font-size: 14px;
}
.about-text-ct b,
.about-text-ct i {
  font-size: 16px;
}
@media screen and (min-width: 601px) {
  .about-text-ct {
    gap: 15px;
    font-size: 16px;
  }
  .about-text-ct b {
    font-size: 20px;
  }
  .about-text-ct i {
    font-size: 18px;
  }
}
@media screen and (min-width: 901px) {
  .about-img-ct {
    width: 800px;
  }
  .about-container h3 {
    font-size: 24px;
  }
}
