.calculator-wrapper {
  background-color: #f1e6d6;
  text-align: center;
  font-family: "Segoe UI", sans-serif;
}

.calculator-wrapper h2 {
  color: #5c4e3a;
  margin-bottom: 1rem;
}

.calculator {
  display: inline-block;
  background: #fffaf4;
  padding: 1rem;
  border: 2px solid #c2b4a2;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(60, 45, 20, 0.1);
}

.display {
  width: 100%;
  padding: 1rem;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  text-align: right;
  border: none;
  background: #f5e9dc;
  border-radius: 8px;
  color: #3d3228;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, calc(100% / 4 - 0.5rem * 3 / 4));
  gap: 0.5rem;
  justify-content: center;
}

button {
  font-size: 1.2rem;
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  background-color: #ded0c0;
  color: #3d3228;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #cbb8a3;
}

.equal {
  background-color: #a68f76;
  color: white;
}
.invisible {
  visibility: hidden;
  pointer-events: none;
  grid-column: span 3;
}
.clear {
  grid-column: span 1;
  background-color: #d2af76;
  color: white;
  font-weight: bold;
}
.clear:hover {
  background-color: #9e845b;
}
